h1 {
    font-family: serif;
}

h2 {
    margin-left: 50px;
    margin-right: 40px;
    padding-bottom: 2px;
    border-bottom: 2px solid #333333;
}

figure {
    background-color: #ccc;
    border: 1px solid #b4b4b4;
}

figcaption {
    text-align: center;
    font-style: italic;
    font-size: 20px;
}

p {
    text-align: justify;
    padding: 0 45px;
    text-indent: 25px;
    font-size: x-large;
}

.poema {
    font-style: italic;
    margin: auto;
    padding: 0;
    width: 500px;
}

.sobre {
    text-decoration: none;
}

.final {
    padding: 0;
    text-align: center;
}
