@media (min-width: 1024px){
    body {
        margin: 0 auto 50px;
        width: 70%;
        
    }
    
    .bloco {
        width: 90%;
        margin: 0 auto;
        background-color: #f2eded;
        border: 1px solid #ccc;
    }
    
    h1 {
        margin-left: 50px;
    }

    figure {
        float: right;
        padding: 15px;
        margin: 7px 30px 0;
        width: 40%;
    }
    .imagem {
        width: 100%;
    }
}

@media (max-width: 1023px){
    body {
        margin: 0 auto 50px;
        width: 90%;
    }
    
    .bloco {
        width: 90%;
        margin: 0 auto;
        background-color: #f2eded;
        border: 1px solid #ccc;
    }

    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    figure {
        width: 60%;
        margin: 0 auto;
        padding: 10px;
    }

    .imagem {
        width: 100%;
    }
}

@media (max-width: 700px){  
    body {
        margin: 0 auto 50px;
        width: 100%;
    }
    
    .bloco {
        width: 100%;
        margin: 0 auto;
        background-color: #f2eded;
        border: 1px solid #ccc;
    }

    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    figure {
        width: 80%;
        margin: 0 auto;
        padding: 10px;
    }
    
    figcaption {
        font-size: 12px;
    }

    .imagem {
        width: 100%;
    }

    p {
        font-size: medium;
    }

    .poema {
        margin: 0 auto;
        width: 320px;
    }
}
